Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["nwswarn-misc"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  /configs/config.json:
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://nwswarn-misc.s3.us-east-2.amazonaws.com/config.json
